@import 'necssary';
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --black: #333;
  --white: #F2F2F2;
  --bg-gradient: linear-gradient(to right, #134e5e, #71b280);
  --yellow: #ebe057;
  --grey: #e6e6e6;
  --padding: 1.25rem;
  --block-width: min(100%, 750px);
}

.container {
  font-family: 'Arvo', sans-serif;
  font-weight: 400;
}

/* header */
.container.header {
  display: flex;
  flex-direction: column;
  height: min(100vh, 500px);
  color: var(--white);
  background: var(--bg-gradient);
}

.header .top {
  display: flex;
  justify-content: flex-end;
  height: 3.75rem;
  background: rgba(0,0,0,0.1);
}

.header .top__item {
  display: flex;
  place-items: center;
  padding-left: var(--padding);
  padding-right: var(--padding);
  font-size: clamp(0.875rem, 1vw, 1rem);
  text-decoration: none;
}

.header .top__item.logo {
  margin-right: auto;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: 700;
}
.header .top__item.logo .css { color: var(--yellow); }
.header .top__item.logo .spacing { letter-spacing: 0.125rem; }

.header .heading {
  width: min(100%, 800px);
  margin: auto;
  padding: var(--padding);
  font-size: clamp(2rem, 4vw, 5rem);
  font-weight: 400;
}

/* docs */
.container.docs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
  color: var(--black);
}

.docs .section {
  width: var(--block-width);
  margin-bottom: 2.5rem;
}

.docs .section__title {
  font-size: clamp(1.2rem, 2.5vw, 4rem);
  font-weight: 400;
}

.docs .code-block {
  margin-top: 0.624rem;
  border-radius: 0.1875rem;
  padding: var(--padding);
  background: var(--grey);
}

.docs .text-block {
  font-family: sans-serif;
  font-size: clamp(1rem, 1vw, 2rem);
  line-height: 1.8;
}

.docs .text-block p { margin-top: 0.625rem; }
