/* a better looking thematic break. */
hr {
  display: block;
  height: 0.063em;
  border: 0;
  border-top: 0.063em solid #ccc;
  padding: 0;
  margin-bottom: 1.250em;
}

figure {
  margin: 0;
}

iframe {
  border: none;
}
